.popup__container {
  box-sizing: border-box;
  position: fixed;
  top: 195px;
  left: 50%;
  padding: 34px 36px 37px 36px;
  transform: translate(-50%);
  width: 430px;
  min-height: 330px;
  z-index: 3;
  background-color: #fff;
  border-radius: 10px;
}

@media (max-width: 1023px) {
  .popup__container {
    width: 282px;
    min-height: 322px;
    top: 123px;
    padding: 25px 22px 25px 22px;
  }
}
