.profile__name {
  display: inline-block;
  margin: 0;
  font-size: 42px;
  line-height: 1.143;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media (max-width: 1023px) {
  .profile__name {
    font-size: 30px;
    max-width: 215px;
  }
}

@media (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.222;
    margin-left: 46px;
    max-width: 200px;
  }
}
