.profile__edit-button {
  box-sizing: border-box;
  margin-left: 18px;
  width: 48px;
  height: 40px;
  background-color: #000;
  padding: 0;
  border: none;
  background-image: url(../../../images/icons/edit-button.svg);
  background-size: 50%;
  background-position: left center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__edit-button:hover {
  transition: opacity .3s linear;
  opacity: .6;
}

@media (max-width: 1023px) {
  .profile__edit-button {
    margin-left: 10px;
    width: 36px;
    height: 27px;
  }
}

@media (max-width: 767px) {
  .profile__edit-button {
    width: 31px;
    height: 30px;
  }
}
