.element__like-btn {
  width: 22px;
  height: 19px;
  cursor: pointer;
  background-image: url(../../../images/icons/heart.svg);
  background-size: cover;
  border: none;
  padding: 0;
  background-color: unset;
}

.element__like-btn:hover {
  transition: opacity .3s linear;
  opacity: .5;
}
