.page {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
